.menu button {
    align-items: center;
    border: none;
    color: #424146;
    cursor: pointer;
    background: transparent;
}

.vertical-center {
    position: absolute;
    top: 10%;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.output {
    padding: 20px; /* Поля */
    border: 2px solid #B25538;
    margin: 150px;
    text-align: center;
}


